@import '/src/common/best-reset.css';
@import '/src/common/theme.css';

/* 반응형 레이아웃 */

/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 15vh;
}

/* 네비게이션, 메인 콘텐츠, 사이드 컨테이너 */
.nav-main-aside-wrapper {
  display: flow-root;
}

/* 네비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 20vh;

  @media (min-width: 64rem) {
    width: 10%;
    height: 70vh;
    float: left;
  }
}

/* 메인 콘텐츠 및 사이드바 컨테이너 */
.content-wrapper {
  @media (min-width: 48rem) {
    display: flow-root;
  }
}

/* 메인 콘텐츠 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;

  @media (min-width: 48rem) {
    width: 50%;
    float: left;
    height: 60vh;
  }

  @media (min-width: 64rem) {
    width: calc(100% - 11.1%);
    height: 70vh;
    float: left;
  }
}
/* 사이드바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 20vh;
  @media (min-width: 48rem) {
    width: 50%;
    height: 60vh;
    float: right;
  }

  @media (min-width: 64rem) {
    width: 11.1%;
    height: 70vh;
    float: left;
  }
}

/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 15vh;
}
