@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

* {
  margin: 30px;
}

/* 텍스트 링크 */
.text-link {
  --active-color: var(--blue);

  background: yellow;
  display: inline-flex;
  /* flex-flow: row nowrap;
  width: 4em; */
  font-size: var(--font-md);

  &:hover {
    background: var(--accent-color);
  }

  &:focus {
    /* outline: 1px solid red;
    outline-offset: 4px; */
    /* outline이 각져서 radius 수정 불가 */
    box-shadow: 0 0 0 1px var(--blue-900);
    border-radius: var(--font-xs);
  }
}
